device: null
#pretrained_model: ckpt/dqn/240829_212534_nstep=1_bs=2048_act=32/t[01500]_r[999.22=168.44~1788.53].pt
pretrained_model: null
ckpt_name: no_traj
seed: 42

# collector
collector:
  total_frames: 2_000_000
  frames_per_batch: 20
  num_envs: 32
  eps_start: 1.0
  eps_end: 0.05
  annealing_frames: 1_200_000
  init_random_frames: 20_000
#  init_random_frames: 0

# buffer
buffer:
  buffer_size: 800_000
  batch_size: 2048

# Optim
optim:
  lr: 3.0e-4
  max_grad_norm: null

# loss
loss:
  gamma: 0.99
  nstep: 1
  hard_update_freq: 2500
  utd_ratio: 1
  loss_type: l2
  use_value_rescale: True

# logger
logger:
  backend: wandb
  model_name: DQN
  exp_name: Train
  test_interval: 50_000
#  test_interval: 20_000
  test_steps: 2_000
  video: True
